.usage-screen{
    position: absolute;
    right: 0;
    left: 0;
    top: 10pt;
    bottom: 10pt;
    margin: auto;
    width: 300pt;
    background: #ddd;
    box-shadow: 0 1pt 3pt 0 rgba(0,0,0,0.3);
    padding: 20pt;
    overflow: auto;
}