<app-navigator-tree [treeApi]="mockTreeApiService">
    <ng-template #itemTemplate let-item="item" let-toggle="toggle">
        <app-db-entity [item]="item.data" (onToggle)="toggle(item)"></app-db-entity>
    </ng-template>
</app-navigator-tree>