.card {
    display: flex;
    background: white;
    box-shadow: 0 1pt 3pt 0 rgba(0,0,0,0.3);
    margin: 5pt;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    
    > .content {
        padding: 5pt;
        font-size: inherit;
    }

    > button.content{
        background: none;
        border: none;
        text-align: inherit;
        cursor: pointer;

        &:hover{
            background: #eee;
        }
    }
}