<div class="card">
    <button class="content" (click)="click($event)" *ngIf="clickable">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </button>
    <div class="content" *ngIf="!clickable">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
</div>