footer {
    display: flex;
    justify-content: center;

    > button {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: #4285f4;
    }
}