<div class="screen">
    <div *ngIf="getRoot() | async as root; else loading">
        <app-tree [item]="root">
            <ng-template #itemTemplate let-item="item">
                <ng-container *ngTemplateOutlet="template; context: {item: item, toggle: toggleItem}"></ng-container>
            </ng-template>
            <ng-template #footerTemplate let-item="item">
                <footer>
                    <button (click)="loadMore(item)" *ngIf="item.children.length < item.totalChildrenCount">
                        Load
                        {{item.totalChildrenCount - item.children.length}}
                        more
                    </button>
                </footer>
            </ng-template>
        </app-tree>
    </div>
</div>

<ng-template #loading>
    loading...
</ng-template>