<div class="tree">
    <main>
        <ng-container *ngTemplateOutlet="template; context: {item: item}"></ng-container>
    </main>
    <footer *ngIf="item.opened">
        <ul>
            <li *ngFor="let child of item.children">
                <app-tree [item]="child">
                    <ng-template #itemTemplate let-innerItem="item">
                        <ng-container *ngTemplateOutlet="template; context: {item: innerItem}"></ng-container>
                    </ng-template>
                    <ng-template #footerTemplate let-innerItem="item">
                        <ng-container *ngTemplateOutlet="footer; context: {item: innerItem}"></ng-container>
                    </ng-template>
                </app-tree>
            </li>
        </ul>
        <ng-container *ngTemplateOutlet="footer; context: {item: item}"></ng-container>
    </footer>
</div>