<app-card
    [clickable]="isClickable()"
    (onClick)="onToggle.emit($event)">
    <ng-template #content>
        <div class="db-entity">
            <header>
                {{item.name}}
            </header>
            <footer>
                <span *ngIf="!item.hasContentAccess">
                    no access
                </span>
            </footer>
        </div>
    </ng-template>
</app-card>